/node_modules
/public/hot

/storage/*.key
/vendor
.env
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/
!/public/.htaccess
!/public/web.config
!/public/index.php
!/public/robots.txt
/.idea/
/.directory
/yarn.lock
/composer.lock
/storage/
/storage/logs/
/storage/framework/
/storage/debugbar/
/storage/oauth-private.key
/storage/oauth-public.key

auth.json
config/app.php
config/database.php
package-lock.json
